# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    gripper_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

arm_controller:
  ros__parameters:
    joints:
      - joint_axis_1
      - joint_axis_2
      - joint_axis_3
      - joint_axis_4
      - joint_axis_5
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
gripper_controller:
  ros__parameters:
    joints:
      - joint_finger_1
      - joint_finger_2
      - joint_finger_3
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity